In [29]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [30]:
# Importing data files

pollution_data_df = pd.read_csv("Resources/California_Pollution.csv")
mortality_data_df = pd.read_csv("Resources/California_Mortality.csv")

In [31]:
pollution_data_df
#pollution_data_df.info()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,3516,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.556522,1.3,4,NaN
1,3517,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.572222,0.8,6,9.0
2,3518,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.556522,1.3,4,NaN
3,3519,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.572222,0.8,6,9.0
4,3520,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/2/00,Parts per billion,...,Parts per billion,1.000000,2.0,5,3.0,Parts per million,0.578261,1.1,21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397527,44293,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,12/30/10,Parts per billion,...,Parts per billion,0.385714,0.7,23,NaN,Parts per million,0.287500,0.5,23,6.0
397528,44294,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,12/31/10,Parts per billion,...,Parts per billion,0.834783,1.8,1,1.0,Parts per million,0.578261,1.6,1,NaN
397529,44295,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,12/31/10,Parts per billion,...,Parts per billion,0.834783,1.8,1,1.0,Parts per million,0.641667,1.2,5,14.0
397530,44296,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,12/31/10,Parts per billion,...,Parts per billion,0.757143,1.5,2,NaN,Parts per million,0.578261,1.6,1,NaN
397531,44297,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,12/31/10,Parts per billion,...,Parts per billion,0.757143,1.5,2,NaN,Parts per million,0.641667,1.2,5,14.0

In [32]:
mortality_data_df

,Notes,Year,Year Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,White,2106-3,Female,F,73.0,410372.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6390,resident population that is under one year of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6391,"7. Beginning with the 2018 data, changes have ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6392,"compared to previous practice. In addition, da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,in information available to individual states ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6394,information can be found at: https://www.cdc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
mortality_data_df['County'] = mortality_data_df['County'].str.replace(' County, CA', '')
mortality_data_df
#mortality_data_df.info()
# mortality_data_df[["County","State_Abbreviation"]] = mortality_data_df.County.str.split(" ",expand=True)

,Notes,Year,Year Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,White,2106-3,Female,F,73.0,410372.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6390,resident population that is under one year of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6391,"7. Beginning with the 2018 data, changes have ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6392,"compared to previous practice. In addition, da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,in information available to individual states ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6394,information can be found at: https://www.cdc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
mortality_data_clean_df = mortality_data_df.drop(["Notes", "Year Code"], axis=1)

In [35]:
mortality_data_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6395 entries, 0 to 6394
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        6325 non-null   float64
 1   ICD-10 113 Cause List       6325 non-null   object
 2   ICD-10 113 Cause List Code  6325 non-null   object
 3   County                      6325 non-null   object
 4   County Code                 6325 non-null   float64
 5   Race                        6325 non-null   object
 6   Race Code                   6325 non-null   object
 7   Gender                      6325 non-null   object
 8   Gender Code                 6325 non-null   object
 9   Deaths                      6325 non-null   float64
 10  Population                  6325 non-null   float64
 11  Crude Rate                  6325 non-null   object
dtypes: float64(4), object(8)
memory usage: 599.7+ KB

In [36]:
mortality_data_clean_df['Year'] = mortality_data_clean_df['Year'].astype(str).replace('\.0', '', regex=True)
mortality_data_clean_df

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,#Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,White,2106-3,Female,F,73.0,410372.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6390,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6391,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6392,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6394,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
mortality_data_clean_df['ICD-10 113 Cause List'] = mortality_data_clean_df['ICD-10 113 Cause List'].str.replace('#', '')
mortality_data_clean_df

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,White,2106-3,Female,F,73.0,410372.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6390,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6391,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6392,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6394,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#mortality_data_clean_df['Year'] = mortality_data_clean_df['Year'].str.replace('nan', 'NaN')
#mortality_data_clean_df

In [39]:
# df.dropna(axis = 0, how = 'all', inplace = True)
# mortality_data_final_df = mortality_data_clean_df.dropna(axis=0, how='all', inplace = True)
# mortality_data_final_df

In [51]:
# Combine the data into a single dataset
# merged_inner = pd.merge(left=mortality_data_df, right=pollution_data_df, left_on='County', right_on='County')
#merged_df = pd.merge(mortality_data_clean_df, pollution_data_df, how="outer", on=["County"])
#merged_idf

In [52]:
merged_df = mortality_data_clean_df.combine_first(pollution_data_df)
#merged_df.to_csv("data_merged.csv")
merged_df

,Address,CO 1st Max Hour,CO 1st Max Value,CO AQI,CO Mean,CO Units,City,County,County Code,Crude Rate,...,SO2 1st Max Hour,SO2 1st Max Value,SO2 AQI,SO2 Mean,SO2 Units,Site Num,State,State Code,Unnamed: 0,Year
0,2956-A TREAT BOULEVARD,4.0,1.3,NaN,0.556522,Parts per million,Concord,Alameda,6001.0,Unreliable,...,9.0,2.0,3.0,0.636364,Parts per billion,2.0,California,6.0,3516.0,2006
1,2956-A TREAT BOULEVARD,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,Unreliable,...,9.0,2.0,3.0,0.636364,Parts per billion,2.0,California,6.0,3517.0,2006
2,2956-A TREAT BOULEVARD,4.0,1.3,NaN,0.556522,Parts per million,Concord,Alameda,6001.0,26.6,...,11.0,2.0,NaN,0.600000,Parts per billion,2.0,California,6.0,3518.0,2006
3,2956-A TREAT BOULEVARD,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,21.3,...,11.0,2.0,NaN,0.600000,Parts per billion,2.0,California,6.0,3519.0,2006
4,2956-A TREAT BOULEVARD,21.0,1.1,NaN,0.578261,Parts per million,Concord,Alameda,6001.0,17.8,...,5.0,2.0,3.0,1.000000,Parts per billion,2.0,California,6.0,3520.0,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397527,304 TUOLUMNE ST.,23.0,0.5,6.0,0.287500,Parts per million,Vallejo,Solano,95.0,NaN,...,23.0,0.7,NaN,0.385714,Parts per billion,4.0,California,6.0,44293.0,NaN
397528,304 TUOLUMNE ST.,1.0,1.6,NaN,0.578261,Parts per million,Vallejo,Solano,95.0,NaN,...,1.0,1.8,1.0,0.834783,Parts per billion,4.0,California,6.0,44294.0,NaN
397529,304 TUOLUMNE ST.,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,95.0,NaN,...,1.0,1.8,1.0,0.834783,Parts per billion,4.0,California,6.0,44295.0,NaN
397530,304 TUOLUMNE ST.,1.0,1.6,NaN,0.578261,Parts per million,Vallejo,Solano,95.0,NaN,...,2.0,1.5,NaN,0.757143,Parts per billion,4.0,California,6.0,44296.0,NaN
397531,304 TUOLUMNE ST.,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,95.0,NaN,...,2.0,1.5,NaN,0.757143,Parts per billion,4.0,California,6.0,44297.0,NaN

In [53]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397532 entries, 0 to 397531
Data columns (total 39 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Address                     397532 non-null  object
 1   CO 1st Max Hour             397532 non-null  float64
 2   CO 1st Max Value            397532 non-null  float64
 3   CO AQI                      198768 non-null  float64
 4   CO Mean                     397532 non-null  float64
 5   CO Units                    397532 non-null  object
 6   City                        397532 non-null  object
 7   County                      397532 non-null  object
 8   County Code                 397532 non-null  float64
 9   Crude Rate                  6325 non-null    object
 10  Date Local                  397532 non-null  object
 11  Deaths                      6325 non-null    float64
 12  Gender                      6325 non-null    object
 13  Gender Code                 6325 non-null    object
 14  ICD-10 113 Cause List       6325 non-null    object
 15  ICD-10 113 Cause List Code  6325 non-null    object
 16  NO2 1st Max Hour            397532 non-null  float64
 17  NO2 1st Max Value           397532 non-null  float64
 18  NO2 AQI                     397532 non-null  float64
 19  NO2 Mean                    397532 non-null  float64
 20  NO2 Units                   397532 non-null  object
 21  O3 1st Max Hour             397532 non-null  float64
 22  O3 1st Max Value            397532 non-null  float64
 23  O3 AQI                      397532 non-null  float64
 24  O3 Mean                     397532 non-null  float64
 25  O3 Units                    397532 non-null  object
 26  Population                  6325 non-null    float64
 27  Race                        6325 non-null    object
 28  Race Code                   6325 non-null    object
 29  SO2 1st Max Hour            397532 non-null  float64
 30  SO2 1st Max Value           397532 non-null  float64
 31  SO2 AQI                     198881 non-null  float64
 32  SO2 Mean                    397532 non-null  float64
 33  SO2 Units                   397532 non-null  object
 34  Site Num                    397532 non-null  float64
 35  State                       397532 non-null  object
 36  State Code                  397532 non-null  float64
 37  Unnamed: 0                  397532 non-null  float64
 38  Year                        6395 non-null    object
dtypes: float64(22), object(17)
memory usage: 121.3+ MB

In [57]:
merged_df = merged_df.fillna(0)
merged_df

,Address,CO 1st Max Hour,CO 1st Max Value,CO AQI,CO Mean,CO Units,City,County,County Code,Crude Rate,...,SO2 1st Max Hour,SO2 1st Max Value,SO2 AQI,SO2 Mean,SO2 Units,Site Num,State,State Code,Unnamed: 0,Year
0,2956-A TREAT BOULEVARD,4.0,1.3,0.0,0.556522,Parts per million,Concord,Alameda,6001.0,Unreliable,...,9.0,2.0,3.0,0.636364,Parts per billion,2.0,California,6.0,3516.0,2006
1,2956-A TREAT BOULEVARD,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,Unreliable,...,9.0,2.0,3.0,0.636364,Parts per billion,2.0,California,6.0,3517.0,2006
2,2956-A TREAT BOULEVARD,4.0,1.3,0.0,0.556522,Parts per million,Concord,Alameda,6001.0,26.6,...,11.0,2.0,0.0,0.600000,Parts per billion,2.0,California,6.0,3518.0,2006
3,2956-A TREAT BOULEVARD,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,21.3,...,11.0,2.0,0.0,0.600000,Parts per billion,2.0,California,6.0,3519.0,2006
4,2956-A TREAT BOULEVARD,21.0,1.1,0.0,0.578261,Parts per million,Concord,Alameda,6001.0,17.8,...,5.0,2.0,3.0,1.000000,Parts per billion,2.0,California,6.0,3520.0,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397527,304 TUOLUMNE ST.,23.0,0.5,6.0,0.287500,Parts per million,Vallejo,Solano,95.0,0,...,23.0,0.7,0.0,0.385714,Parts per billion,4.0,California,6.0,44293.0,0
397528,304 TUOLUMNE ST.,1.0,1.6,0.0,0.578261,Parts per million,Vallejo,Solano,95.0,0,...,1.0,1.8,1.0,0.834783,Parts per billion,4.0,California,6.0,44294.0,0
397529,304 TUOLUMNE ST.,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,95.0,0,...,1.0,1.8,1.0,0.834783,Parts per billion,4.0,California,6.0,44295.0,0
397530,304 TUOLUMNE ST.,1.0,1.6,0.0,0.578261,Parts per million,Vallejo,Solano,95.0,0,...,2.0,1.5,0.0,0.757143,Parts per billion,4.0,California,6.0,44296.0,0
397531,304 TUOLUMNE ST.,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,95.0,0,...,2.0,1.5,0.0,0.757143,Parts per billion,4.0,California,6.0,44297.0,0

In [58]:
merged_df.to_csv("Resources/merged_output.csv")